.categoryItemContainer {
    /* margin: 4px; */
    height: 70vh;
    position: relative;
}


.categoryImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.categoryItemInfo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categoryTitle {
    color: #fff;
    margin-bottom: 10px;
}

.categoryBtn {
    padding: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}